---
title: Reyes Risk Management
---
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Reyes Risk Management</title>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-left" href="#"><img src="/images/logo1.png"></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="tel:1-801-636-4570"><i class="fa fa-phone" aria-hidden="true"></i> (801)636-4570</a>
          </li>
          <li>
            <a href="mailto:breyes@riskman1.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> breyes@riskman1.com</a>
          </li>
          <li>
              <a href="#services">Services</a>
          </li>
          <li>
              <a href="#faq">Faq</a>
          </li>
          <li>
              <a href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- Header -->
  <div class="container top">
    <div class="row">
      <div class="col-sm-6">
        <div class="intro-message">
          <h1>Brian Reyes</h1>
          <h3 class="lato">Risk Management and Insurance</h3>
          <hr>
          <h4 class="lato">
            My team and I specialize in designing commercial insurance policies specifically for
            your business. Reyes Risk Management is an independent agency that has access to
            numerous insurance companies to be able to provide your business with general
            liability, property, workers compensation, commercial auto, and many other
            specialty lines. Contact me so I can put together a quote that is tailored to meet
            your businesses needs.
          </h4>
          <br>
          <h4 class="lato">
            <a href="tel:1-801-636-4570"><i class="fa fa-phone" aria-hidden="true"></i> (801) 636-4570</a>
          </h4>
          <h4 class="lato">
            <a href="mailto:breyes@riskman1.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> Breyes@riskman1.com</a>
          </h4>
          <h4 class="lato">
            <a href="https://www.facebook.com/brianreyesinsurance" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook </a>
          </h4>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="hero-pic" id="services">
          <img class="img-fluid" src="/images/client_hero.jpeg">
        </div>
      </div>
    </div>
  </div>
  <!-- services row -->
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 video-container">
          <iframe src="https://www.youtube.com/embed/22k-s6-MdmY" frameborder="1" allowfullscreen></iframe>
        </div>
        <div class="col-sm-6 text-center">
          <div class="row">
            <div class="col-sm-4">
              <i class="fa fa-industry icon"></i>
              <p>General Liability</p>
            </div>
            <div class="col-sm-4">
              <i class="fa fa-truck icon"></i>
              <p>Commercial Fleet</p>
            </div>
            <div class="col-sm-4">
              <img
                class="construction"
                src="https://cloud.githubusercontent.com/assets/10455638/5671357/08f51d1c-973c-11e4-9560-2a6c2dc2c6a4.png">
              <p>Workers Compensation</p>
            </div>
          </div>
          <div class="row icon-text text-center">
            <div class="col-sm-12">
              <p>
                The Key to success for your business is understanding the different types of risks
                that your business could be exposed to. Having an unexpected accident that isn’t
                covered by insurance could easily result in having to permanently close down
                because of the loss. An insurance policy that is tailored to your businesses potential
                risks will allow you to recover from an accident quickly and get you back to normal
                operations as soon as possible. Whether you’re just starting a business or need a
                second opinion on your current insurance, contact us to be able to find a solution.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- faq -->
  <div class="content-section-b" id="faq">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="section-heading text-center">Frequently Asked Questions</h2>
          <hr>
          <div class="col-sm-6">
            <h3>How Does Business Insurance Work?</h3>
              <p>
                Business insurance is a written contract between the insurance company and the business. The insurance company agrees to share the business risk with the business entity in exchange for premium payment during the policy period. In the event of a covered loss, the insurance company pays for the financial losses the business incurs up to the limit of the policy after the deductible amount is paid by the business filing a
              </p>
            <h3>How Much Is Business Insurance?</h3>
              <p>
                The cost of business insurance varies. A number of factors affect how much business insurance costs, because it depends on the type of business and the types of coverage appropriate for that commercial operation. Cost also depends on the size of the business.
              </p>
          </div>
          <div class="col-sm-6">
            <h3>Does Law Require Business Insurance?</h3>
              <p>
                Business insurance is required by law, but only under certain conditions. If your business has employees, you are most likely obligated to carry work comp. Not having work comp could result in being fined by the state. Depending on the type of business you’re in you might be required to carry disability insurance, Professional Liability, and unemployment insurance.
              </p>
            <h3>What Business Insurance Do I Need?</h3>
              <p>
                Depending on the type of business you’re in and any insurance the state law requires, you will want to consider the following: General Liability, Product liability, Commercial Property, and Business Interruption Insurance.
              </p>
            <h3>Risk Managers LLC, Independent Insurance Brokerage</h3>
              <p>
                Business Insurance Policies can vary from one company to the next. Your best use of your time is to talk to an independent insurance agency like Risk Managers LLC so they can check rates from several different insurance companies to find you the best quote available.
              </p>
          </div>
      </div>
    </div>
  </div>


  <div class="info">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p class="big-font">Contact me for more details</p>
          <br>
          <p>
            <a href="tel:1-801-636-4570" class="big-font"><i class="fa fa-phone" aria-hidden="true"></i> (801) 636-4570</a>
          </p>
          <p>
            <a href="mailto:breyes@riskman1.com" class="big-font"><i class="fa fa-envelope-o" aria-hidden="true"></i> Breyes@riskman1.com</a>
          </p>
          <p>
            <a href="https://www.facebook.com/brianreyesinsurance" class="big-font" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook </a>
          </p>
          <br>
        </div>
        <div class="col-sm-6">
          <p class="big-font">
            Hablo Español
            <img class="barca" src="http://bebilingual.com/wp-content/uploads/2010/11/Spain.png">
            <img class="mex" src="http://img.freeflagicons.com/thumb/round_icon/mexico/mexico_640.png">
          </p>
          <p class="big-font">Proudly Working With</p>
          <img class="uhcc" src="http://www.utahhcc.com/images/uhcc_ushcc_bbb.png">
        </div>
      </div>
    </div>
  </div>


  <div id="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="text-center"> Get A Free Quote Today!</h3>
          <hr>
          <form id='contact-form' class="form-horizontal" method="POST" action="https://formspree.io/Breyes@riskman1.com">
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" placeholder="First & Last Name" value="">
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
              </div>
            </div>
            <div class="form-group">
              <label for="phone" class="col-sm-2 control-label">Phone</label>
              <div class="col-sm-10">
                <input type="phone" class="form-control" id="phone" name="phone" placeholder="(801) 999-9999" value="">
              </div>
            </div>
            <div class="form-group">
              <label for="message" class="col-sm-2 control-label">Message</label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="4" name="message" placeholder="A little about your business"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-inline text-center">
            <li>
              <a href="#">Top</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="#services">Services</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="#faq">Faq</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="#contact">Contact</a>
            </li>
            <li class="copyright text-muted small">Copyright &copy; Reyes Risk Management 2017 All Rights Reserved</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- jQuery -->
  <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous">
  </script>

  <!-- Bootstrap Core JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>

